<!-- Adding JavaScript file -->

<h1 class="listFriendsheader">Friends</h1>

<%= render partial: 'form' %>
<table class="table">
  <thead class="tbhead">
    <tr >
      <th scope="col">#</th>
      <th scope="col">Profile Picture</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each_with_index  do |friend, index| %>
    <% friend_as_user = User.find_by(email: friend.email) %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td>
        <%= image_tag (@pics[index]), class: "img-responsive",  alt:"profile_picture", style:"width:50px;height:50px" %>
      </td>
      <td><%= friend.email %></td>
      <td><%= friend_as_user.username %></td>
      <td>
        <%= button_to "Unfriend", friend, method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
