        <div class="container">
            <h1>Orders</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Resturnats</th>
                        <th>Invited</th>
                        <th>Joined</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order| @invited=OrderPartispant.where("order_id = " + order.id.to_s + "").count %>
                      <% @joined=OrderPartispant.where("order_id = " + order.id.to_s + " and status = 'joined'" ).count %>
                      <tr>
                        <td><%= order.order_type %></td>
                        <td><%= order.restaurant_name %></td>
                        <td><%= @invited %></td>
                        <td><%= @joined %></td>
                        <td><%= order.status %></td>
                        <td>
                            <%= link_to "View", order %>
                            <% if order.status == "wating" %>
                                <%= button_to "Finish", change_status_to_completed_order_path(order, status: :complete), method: :patch, class: "btn btn-warning" %>
                                <%= button_to "Cancel", change_status_to_canceled_order_path(order, status: :canceled), method: :patch, class: "btn btn-info" %>
                            <% end %>
                        </td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
