<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card">
    <div class="card-body">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>

      <br />
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= render "devise/shared/links", class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
